<br><br>

<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="field">
    <%= form.label :display_id, "Display Id"%>
    <%= form.number_field :display_id %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :plate_number %>
    <%= form.text_field :plate_number  %>
  </div>

  <div class="field">
    <%= form.label :registration_expiry %>
    <div class="vert-container centered">
      <%= form.date_select :registration_expiry, order: [:month, :day, :year], start_year: Time.now.year - 1 %>
    </div>
  </div>

    <% if params[:ndr_id] %>
    <div class="field view-table">
      <table>
        <thead>
          <th>Name</th>
          <th>Assign</th>
        </thead>
        <tbody>
          <% @drivers.each do |driver| %>
          <tr>
            <td><%= driver.member.first_name +  ' ' + driver.member.last_name %></td>
            <td><%= check_box_tag 'driver_ids[]', driver.id %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

  <br><br>

  <div class="actions">
    <%= form.submit class: "green button" %>
  </div>
<% end %>

<style>
  input[type=checkbox] {
  margin-right: 0 !important;
  }
  
  .field {
  width: 100%;
  }
</style>